.forminput {
  border: 2px solid #b3b3b37a;
  padding: 3px 8px;
  margin-bottom: 10px;
  &:hover {
    transition: all ease .3s;
    border-color: #d9c6a5;
  }
  div {
    margin-bottom: 0 !important;
  }
  .form-control {
    border: none;
    background: transparent;
    font-family: 'NotoSans';
    font-size: rem(20px);
    border-radius: 0px;
    padding-left: 0px;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-text {
    background-color: transparent !important;
    border: none;
    font-family: 'NotoSans';
    border-radius: 0px;
    font-size: rem(20px);
    padding-right: 0px;
  }
}